<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Aplha Blog", "https://marcondes-blog.herokuapp.com", class: "text-white" %></small>
  </div>
</footer>